@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  nav {
    @apply  top-0 flex w-full justify-between px-4 xs3:px-12 lg:px-20 items-center;
  }
  .link {
    @apply text-base hover:font-bold hover:scale-105 transition;
  }
  .middle {
    @apply flex gap-12 ;
  }
  .inputContainer{
    @apply flex flex-col  gap-3 sm:w-1/2 my-8 sm:my-0
  }
  .contactInput{
    @apply h-12 bg-transparent focus:outline-none text-white focus:border-white px-2 border-b-2 border-white/50 hover:border-white
  }
  label{
    @apply text-white text-base
  }
  
}

:root {
    line-height: 1.6;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    width: 100%;
    
}


@keyframes drawer {
  0%{
    right: -100%;
  }
  100%{
    right: 0;
  }
}




.drawerOpen{
  animation-name: drawer;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  
  

}
.overScroll{
  overflow-y: hidden;
}


@media (max-width : 540px) {
  ::-webkit-scrollbar{
    display: none;
  }
  
}


  ::-webkit-scrollbar-button{
    @apply bg-main
  }
  

::-webkit-scrollbar{
  background-color: white;
  padding: 3px;
}


::-webkit-scrollbar-thumb{
  @apply bg-gray-600/60  
  
}



::-webkit-scrollbar-track-piece{
  background-color: white;
}


::-webkit-scrollbar-button{
  display: none;
}

